[submodule "backend"]
	path = backend
	url = https://github.com/kenken64/worktree-demo.git
	branch = backend
[submodule "frontend"]
	path = frontend
	url = https://github.com/kenken64/worktree-demo.git
	branch = frontend
[submodule "cli"]
	path = cli
	url = https://github.com/kenken64/worktree-demo.git
	branch = cli
